<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<script href="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script href="js/bootstrap.min.js"></script>
		<script href="js/jquery.min.js"></script>
		<link href="{{ url_for('static', filename='css/font-awesome.css') }}" type="text/css" rel="stylesheet">
		<title>MST Sohbet Sistemi - {{ room }}</title>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
		<script type="text/javascript" charset="utf-8">
			var socket;
			$(document).ready(function(){
				socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
				socket.on('connect', function() {
					socket.emit('joined', {});
				});
				socket.on('status', function(data) {//katılma
					$('#mesaj').append('<div class="chat_people"><div class="received_withd_msg"><p>'+ data.msg +'</p></div></div>');
				});
				socket.on('message', function(data) {
					$('#mesaj').append('<div class="chat_people"><div class="received_withd_msg"><p><span class="name">'+ data.name +'</span><b>'+ data.msg +'</b></p></div></div>');
				});
				$('#text').keypress(function(e) {
					var code = e.keyCode || e.which;
					if (code == 13) {
						text = $('#text').val();
						if(text=="" || text==" "){
							alert("Veri girişi yok")
						}else{
							$('#text').val('');
							socket.emit('text', {msg: text});
						}
					}
				});
			});
			function leave_room() {
				socket.emit('left', {}, function() {
					socket.disconnect();
					// go back to the login page
					window.location.href = "{{ url_for('main.index') }}";
				});
			}
		</script>
	</head>
	<body>
		<div class="container">
			<div class="messaging">
				<div class="inbox_msg">
				<div class="inbox_people" style="width: 30%; float: left;">
					<div class="headind_srch">
						<div class="recent_heading">
							<h4>MST Sohbet Sistemi</h4>
							Tasarlayan Serhat TÜRKMEN
						</div>
					</div>
					<div class="inbox_chat">
						<div class="chat_list">
							<a href="#" onclick="leave_room();">
								<div class="chat_people">
									<div class="chat_ib">
										Odadan ayrıl
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="mesgs">
					<div class="inbox_chat">
						<div id="mesaj" class="incoming_msg">
						</div>
					</div>
					<!--
					<div class="msg_history">
						<div id="mesaj" class="outgoing_msg">
							<div class="chat_people">
								<div class="sent_msg">
									<p><span class="name">Deneme</span>atılan mesaj</p>
								</div>
							</div>
						</div>
					</div>
					-->
					<div class="type_msg">
						<div class="input_msg_write">
							<input id="text" size="70" placeholder="Bir mesaj yazınız...">
						</div>
					</div>
				</div>
			</div>      
			</div>
		</div>
	</body>
</html>