<html>
    <head>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<script href="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<link href="{{ url_for('static', filename='css/font-awesome.css') }}" type="text/css" rel="stylesheet">
		<title>MST Sohbet Sistemi</title>
        <style>
            td{
                padding:5px;
            }
            input{
                width:200px;
            }
        </style>
    </head>
    <body style="background-color:#e1e1e1">
        <div class="container">
            <div class="col-md-4 text-center"></div>
            <div class="col-md-4 text-center">
                <div class="well"><h2>MST Sohbet Sistemi</h2>
                <hr>
                <form method="POST">
                    <table>
                        <tr>
                            <td>{{ form.hidden_tag() }}{{ form.name.label }}:</td>
                            <td>{{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}</td>
                        </tr>
                        <tr>
                            <td>{{ form.room.label }}:</td>
                            <td>{{ form.room() }} {% for error in form.room.errors %}{{ error }}{% endfor %}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{ form.submit() }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{ uyari }}</td>
                        </tr>
                    </table>
                </form>
                </div>
            </div>
            <div class="col-md-4 text-center"></div>
        </div>
    </body>
</html>
